*{
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-family: "Microsoft YaHei",Arial,sans-serif,STHeiti;
}
body{
	/*background-color: #F0AEEA;*/
}
.weather{
	margin-top: 88px;
	position: relative;
	/*display: table;*/
}
.head,.now{
	padding: 20px;
	display: table;
	margin: 50px auto auto auto;
	border: 2px solid #3B3B3B;
	width: 760px;
	text-align: left;
}
.he_left{
	float: left;
	width: 200px;
}
.he_left span{
	font-size: 2em;
}
.he_conter{
	border-left: 1px solid blue;
	padding-left: 40px;
	padding-right: 40px;
	float: left;
}
.he_right{
	border-left: 1px solid blue;
	padding-left: 40px;
	padding-right: 40px;
	float: left;
}
.ther{
	width: 300px;
	border-right: 1px solid blue;
	float: left;
}
.ther_top span{
	font-size: 2.8em;
	margin-left: 20px;
}
.ther_buttom{
	margin-top: 5px;
}
.ther_buttom span{
	margin-left:20px;
}
.air{
	margin-left: 60px;
	line-height: 2.5em;
	float: left;
}
.air_a_pm{
	padding-left: 20px;
}
.livelihood{
	width: 780px;
	padding: 0 10px;
	margin: 40px auto;
	text-align:center;
	/*border: 1px solid #000;*/
	/*position: relative;*/
}
.livelihood div{
	width: 210px;
	float: left;
	height: 145px;
	margin-left: 15px;
	margin-bottom: 15px;
	background-color: #C1E6F1;
	padding: 15px;
}
.livelihood div .index{
	font-size: 16px;
}
.livelihood b{
	display: block;
	color: #48737E;
	font-size: 16px;
	margin-top: 8px;
}
.livelihood span{
	font-size: 14px;
	color: #5D5D5D;
}
.ardiv{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	border-top: 70px solid #08aecc;
	border-left: 150px solid #08aecc;
	border-bottom: 70px solid transparent;
	border-right: 150px solid transparent;
}
.link{
	display: block;
	position: absolute;
	left: -110px;
	top: -50px;
	border: 1px solid #fff; 
	border-radius: 8px;
	padding: 10px;
	font-size: 21px;
	text-decoration: none;
	color: #fff;
	transition: .8s;
}
.link:hover{
	background-color: rgba(255,255,255,.3);
	top: -55px;
	transition: .8s;
}